<div class="container">

    <h1 class="m-2">Mantenimiento de Clientes</h1>

    <button type="button" (click)="setMod(false,0)" class="btn btn-primary m-2" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Agregar Cliente
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="cliente" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres: </label>
                            <input id="nombres" class="form-control" type="text" formControlName="nombres">
                        </div>

                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos: </label>
                            <input id="apellidos" class="form-control" type="text" formControlName="apellidos">
                        </div>

                        <div class="mb-3">
                            <label for="nit" class="form-label">Nit: </label>
                            <input id="nit" class="form-control" type="text" formControlName="nit">
                        </div>

                        <div class="mb-3">
                            <label for="direccion" class="form-label">Direccion: </label>
                            <input id="direccion" class="form-control" type="text" formControlName="direccion">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button *ngIf="!mod" type="submit" [disabled]="!cliente.valid" data-bs-dismiss="modal"
                            class="btn btn-success">Agregar
                            </button>
                        <button *ngIf="mod" type="button" (click)="deleteCliente()" data-bs-dismiss="modal"
                            class="btn btn-danger">Eliminar
                            </button>
                        <button *ngIf="mod" type="submit" [disabled]="!cliente.valid" data-bs-dismiss="modal"
                            class="btn btn-warning">Modificar
                            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">NIT</th>
                <th scope="col">Direccion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <th scope="row"><button type="button" (click)="setMod(true,cliente.idcliente)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" class="btn btn-link">{{cliente.idcliente}}</button></th>
                <td>{{cliente.nombres}}</td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.nit}}</td>
                <td>{{cliente.direccion}}</td>
            </tr>
        </tbody>
    </table>


</div>